/* Reset some basic elements to provide a consistent base */
body, h1, h2, p, a, ul, li, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

section {
    margin-bottom: 20px 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Styling for h3 headings */
h3 {
    text-align: center;
    font-size: 28px;
    color: brown;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    padding: 10px 0;
}

main {
    padding: 20px;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;
}

.website-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.website-card {
    background-color: #f0f7ff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: box-shadow 0.3s ease;
}
.website-card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.website-card img {
    width: 56px;  /* Set the width to 56px */
    height: 56px; /* Set the height to 56px */
    object-fit: cover; /* Ensure the image covers the area without stretching */
    margin-bottom: 10px;
}

.website-card h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.website-card p {
    margin: 5px 0;
    color: #555;
}

.button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #333;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.fa-solid, .fa-brands {
    margin-right: 5px;
}

/* Scroll buttons styles */
.scroll-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}